.task-table {
    width: max-content;
}

.task-table td {
    border: 1px solid lightgrey !important;
    padding: 5px 10px;
    background: white;
}

.task-table th {
    border: 1px solid lightgrey !important;
    padding: 10px 10px 5px 10px;
    background: none;
    background: #F8FAFF;
}