.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-item, .dropdown-menu a {
    font-size: 14px;
}

.navbar {
    padding: 0 15px;
}

.dropdown-menu {
    margin-top: -3px;
}

.nav-link.dropdown-toggle::after {
    display: none;
}

.dropdown-menu a {
    padding: 5px 15px;
}

.dropdown-menu a:hover {
    background: rgb(226, 226, 226);
}

.dropdown-menu a:active {
    color: rgb(77, 77, 77);
}