.menu-button {
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 0;
    background: none;
    margin-left: 10px;
}

.menu-button.yellow {
    border-bottom: 2px solid #FE7955;
}

.menu-button.green {
    border-bottom: 2px solid #00D695;
}

.menu-button.blue {
    border-bottom: 2px solid #39C9FF;
}

.menu-label {
    margin-bottom: 0;
    padding: 0 3px;
    font-size: 12px;
    width: 20px;
}

.menu-button.yellow .menu-label {
    background: #FE7955;
}

.menu-button.green .menu-label {
    background: #00D695;
}

.menu-button.blue .menu-label {
    background: #39C9FF;
}