.navbar-button {
    background: none;
    border: none;
    color: rgb(116, 116, 116);
    font-size: 14px;
    padding: 4px 10px;
}

.navbar-button i {
    font-size: 12px;
}

.navbar-button.border-right {
    border-right: 1px solid #E6EAED;
}

.navbar-button:hover {
    background: rgb(243, 243, 243);
    cursor: pointer;
}

.navbar-button.expand {
    padding: 4px 20px;
}

.navbar-button.active {
    color: white;
    background: #398AFF;
}