body {
    background: #F8FAFF;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.pull-right {
    text-align: right;
}

.content-wrapper {
    overflow: auto;
}

.disabled i {
    color: lightgrey;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}