.attachment-container {
    width: 400px;
}

.attachment-header {
    border-bottom: 1px solid #E6EAED;
    text-align: center;
    padding: 6px;
}

.attachment-header label {
    margin: 0;
}

.close-button {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
}

.attachment-body {
    background: white;
}