.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-item, .dropdown-menu a {
    font-size: 14px;
}

.navbar {
    padding: 0 12px;
}

.dropdown-menu {
    margin-top: -1px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    border: 1px solid rgba(218, 218, 218, 0.23);
}

.nav-link.dropdown-toggle::after {
    display: none;
}

.nav-link:hover {
    background: rgba(129, 129, 129, 0.23);
}

.dropdown-menu a {
    padding: 5px 15px;
}

.dropdown-menu a:hover {
    background: rgb(226, 226, 226);
}

.dropdown-menu a:active {
    color: rgb(77, 77, 77);
}

.navbar-light .navbar-nav .nav-link {
    padding: 5px 12px 3px 12px !important;
    color: #747474;
}